/* .splide__slide img {
    width: 100%;
    height: auto;
  } */
  .splide__slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation:pop-in 2s ease-in-out;
  }
  .splide__slide {
    transition: cubic-bezier();
    opacity: 0.6;
  }
  .container{
    width: 70%;
    margin-top: 30px;
    animation: fadeInAnimation ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation:pop-in 2s ease-in-out;
    width: 100%;
    height: 100%;
    background-color: rgb(227, 223, 255);
    animation-name: example;
    animation-duration: 10s;

  }
  .splide__slide.is-active {
    opacity: 1;
  }
  li.splide_track{
    animation:pop-in 2s ease-in-out;
  }
  .splide_list{
    animation:pop-in 2s ease-in-out;
  }
  .splide_slide img{
    animation:pop-in 2s ease-in-out;
  }

  @keyframes fadeInAnimation {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@keyframes pop-in {
  0% {
     opacity: 0; transform: scale(0.1); 
  }
  100% { 
    opacity: 1; transform: scale(1); 
  }
}
@keyframes example {
  0%   {background-color: rgb(255, 195, 155);}
  25%  {background-color: rgb(253, 182, 135);}
  50%  {background-color: rgb(241, 119, 119);}
  100% {background-color: rgb(233, 86, 86);}
}
  /* ul{
    list-style-type:none;
  }
  .container{
    width:50%;
    min-height: 100vh;
    padding-left: 5%;
    padding-right: 5%;
  } */